.containerForm{
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: left;
    border: 2px solid #111;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 40px;
}

.name, .number{
    width: 245px;
    height: 25px;
    margin-bottom: 24px;
    border-radius: 4px;
}

.errorName{
    position: fixed;
    font-weight: 400;
    font-size: 14px;
    color:red;
    top: 250px;
}

.errorNumber{
    position: fixed;
    font-weight: 400;
    font-size: 14px;
    color:red;
    top: 328px;
}

.buttonAdd{
    width: 110px;
    padding: 8px;
    border: none;
    background-color: rgb(223, 220, 251);
    margin: 0 auto;
}

.buttonAdd:hover{
    background-color: rgb(164, 156, 244);
}